spring:
  application:
    name: Car Auction
  profiles:
    active: dev


server:
  servlet:
    context-path: /api

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: ${JWT_EXPIRATION}