server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/${DEV_POSTGRES_DB}
    driver-class-name: org.postgresql.Driver
    username: ${DEV_POSTGRES_USER}
    password: ${DEV_POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true