spring:
  datasource:
    url: jdbc:h2:mem:${H2_DB_NAME};DB_CLOSE_DELAY=-1
    driver-class-name: org.h2.Driver
    username: ${H2_USER}
    password: ${H2_PASSWORD}
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true