spring:
  application:
    name: Car Auction
  profiles:
    active: dev
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${GOOGLE_OAUTH_ID}
            clientSecret: ${GOOGLE_OAUTH_SECRET}
            scope:
              - openid
              - profile
              - email
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 100MB

  cloud:
    gcp:
      project-id: ${GCP_PROJECT_ID}
      credentials:
        location: file:${GCP_KEY_LOCATION}
      bucket:
        name: ${GCP_BUCKET_NAME}

server:
  servlet:
    context-path: /api

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: ${JWT_EXPIRATION}