spring:
  application:
    name: Car Auction
  profiles:
    active: dev
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${GOOGLE_OAUTH_ID}
            clientSecret: ${GOOGLE_OAUTH_SECRET}
            scope:
              - openid
              - profile
              - email

server:
  servlet:
    context-path: /api

application:
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: ${JWT_EXPIRATION}